<section class="Component Component--{{component.class}}">
    <div class="Component__info">
        <h2 class="Component__title">{{ component.title }}</h2><!-- /.Component__title -->
        <p class="Component__description">{{ component.description }}</p><!-- /.Component__description -->
    </div><!-- /.Component__name -->
    <div class="Component__examples">
        <div class="gallery js-flickity" data-flickity-options='{ "imagesLoaded": true }'>
            {% for example in component.examples %}
                <img src="{{example.src}}" alt="example"/>
            {% endfor %}
        </div>
    </div><!-- /.Component__examples -->
</section><!-- /.Component -->