/////////////////////////////////////-+++-/////////////////////////////////////////
// Header
// this is the main site header
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Some global header variables


$SiteHeader-bp: mobilemenu-bp;

/////////////////////////////////////-+++-
// import header partials



/////////////////////////////////////-+++-
// Major layout styles for the header. Individual styles for header elements are inside
// the partials imported above


.SiteHeader {
    text-align: center;
    background: $orange;
    width: 160px;
    height: 100%;
    position: fixed;
    z-index: 100;
    overflow: scroll;

    h1 {
        margin-bottom: 0;
        color: #fff;
        font-size: 26px;
        line-height: 26px;
        padding: 6px 10px 10px;
        background: rgba(255,255,255,.2);
    }
}

.TableOfContents {
    text-align: left;
    margin-top: 10px;

    &__label {
        color: #fff;
        text-transform: uppercase;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        background: rgba(0,0,0,.1);
    }

    ul {
        color: #fff;
        margin: 0 0 10px;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 16px;
    }

    a {
        color: #fff;
        display: block;
        padding: 5px 10px;
        transition: background .2s ease;

        &:hover {
            background: rgba(255,255,255,.2);
        }
    }
}